<div class="container">
<br>
  <div class="center"><h1 class="text-center">Browse Cafes</h1></div>
  <br>
  <div class="d-flex justify-content-between">
    <% Cafe.all.each do |cafe| %>
    <div class="card" style="width: 18rem;">
      <img src="<%= "https://source.unsplash.com/random/300x300/?cafe?#{cafe.id*5}" %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
        <%= cafe.name %></h5>
        <p class="card-text"><%= cafe.description %></p>
        <a href="<%= cafe_path(cafe) %>" class="btn button_general">See this Cafe</a>
      </div>
  </div>
  <% end %>
</div>
<h1 class="spacer">Cafes in your area</h1>
<div style="width: 100%; height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<div class="container d-flex flex-column ">

    <footer class="mt-auto">
      <p class="spacer">Want to add your Cafe? (For Business Owners):
      <a href="<%= new_cafe_path %>" class="btn button_general">Add Cafe</a>
    </footer>

</div>
