<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 justify-centre">
      <h1 class="text-center"><%= @cafe.name %> </h1>
      <p class="text-center"><%= @cafe.address %> <br>
      <%= @cafe.description %></p>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-9 justify-content-between">
      <h3>Menu items</h3>
      <% Product.where(cafe_id: @cafe.id).each do |product| %>
      <div class="card-product" style="width: 36rem;">
          <img src="https://source.unsplash.com/random/300x300?<%= product.name%>" />
          <div class="card-product-infos">
            <h2><%= link_to product.name,  cafe_product_path(product.cafe_id, product) %></h2>
            <p>$<%= product.price %></p>
            <p><%= product.description %></p>
            <%= link_to "Add to cart", add_to_cart_path(pid: product.id), class: "btn btn-primary", method: :post %>
          </div>
        </div><br>
      <% end %>
    </div>
    <div class="col-sm-3 justify-content-between">
      <div class="card mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent">Shopping cart</div>
        <div class="card-body">
        <h5 class="card-title">Items in cart</h5>

          <% unique = @cart.items.uniq { |p| p.product_id } %>

          <% unique.each do |item| %>
            Item: <%= Product.find(item.product_id).name %><br>
            Amount: <%= @cart.items.where(product_id: item.product_id).length %>
            <%= link_to fa_icon("minus"), your_cart_in_cafe_path(item_id: @cart.items.where(product_id: item.product_id).first), method: :delete, data: {confirm: "Are you sure?"} %>
            <%= link_to fa_icon("plus"), add_to_cart_path(pid: item.product_id), method: :post  %>
            <br><br>
          <% end %>

          <% total = 0 %>
          <% @cart.items.each do |item| %>
          <% total += Product.find(item.product_id).price %>
          <% end %>
          <p>Total Cost of Cart: $<%= total %></p>

      </div>
      <div class="card-footer bg-transparent">
        <%= link_to '<button type="button" class="btn btn-primary">Checkout</button>'.html_safe, checkout_page_path %>

      </div>
    </div>
  </div>
</div>
<div class="container d-flex flex-column min-vh-100">
<footer class="mt-auto">
    <p>For Business owner:</p>
    <%= link_to "Product creation", new_cafe_product_path(@cafe) %>
    <%= link_to "Edit Products", cafe_products_path(@cafe) %>
    <%= link_to "Edit Cafe", edit_cafe_path(@cafe) %>
  </div>
</footer>
