<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 justify-centre">
      <h1 class="text-center"><%= @cafe.name %> </h1>
      <p class="text-center"><%= @cafe.address %> <br>
      <%= @cafe.description %></p>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-9 justify-content-between">
      <h3>Menu items</h3>
      <% Product.where(cafe_id: @cafe.id).each do |product| %>
      <div class="card-product" style="width: 36rem;">
          <img src="https://source.unsplash.com/random/300x300?<%= product.name%>" />
          <div class="card-product-infos">
            <h2><%= link_to product.name,  cafe_product_path(product.cafe_id, product) %></h2>
            <p>$<%= product.price %></p>
            <p><%= product.description %></p>
            <a href="<%= carts_path %>" class="btn btn-primary">Add to cart</a>
          </div>
        </div><br>
      <% end %>
    </div>
    <div class="col-sm-3 justify-content-between">
      <div class="card mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent">Shopping cart</div>
        <div class="card-body">
        <h5 class="card-title">Item in cart</h5>
        <p class="card-text">Delicious item with jam and honey</p>
      </div>
      <div class="card-footer bg-transparent">
        <button type="submit" class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </div>
</div>
<div class="container d-flex flex-column min-vh-100">
<footer class="mt-auto">
    <p>For Business owner:</p>
    <%= link_to "Product creation", new_cafe_product_path(@cafe) %>
    <%= link_to "Edit Products", cafe_products_path(@cafe) %>
    <%= link_to "Edit Cafe", edit_cafe_path(@cafe) %>
  </div>
</footer>
