<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 justify-centre">
      <h1>Edit <%= @product.name %></h1>
      <%= simple_form_for [ @cafe, @product ], url: cafe_product_path do |f| %>
          <%= f.input :name %> <br>
          <%= f.input :price %>
          <%= f.input :description %>
          <%= f.submit "Update Details", :class => "btn button_general"%>
        <% end %>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
